Project Name: Food (Number 2) 
<br>

Dataset Num: 21

<br>
Team Members: Erifeoluwa Jamgbadi and Yazdani Mehr Azin

In [2]:
## importing required libraries

import numpy as np
import pandas as pd
from pathlib import Path
import os

#metadata reading
import gzip
import shutil

<br>

<font size="5"> **Importing and Sorting out data for exploration/analyses**</font>

<br>

In [3]:
#Path to the target csv file. 
path = os.getcwd()
print(path)

C:\Users\SAMSUNG\Documents\GitHub\Food

In [4]:
##reading in the dataset
data = pd.read_csv(path +'/dataset/en.openfoodfacts.org.products.tsv',sep='\t', dtype='unicode')

In [11]:
#creator, manufacturing places, categories, countries, additives, various ingredients, existing vitamins
data['ingredients_text']

0                                                        0
1                                                        0
2                                                        0
3                                                        0
4                                                        0
                               ...
78241                                                    0
78242    thé vert, arôme naturel bergamote avec autres ...
78243                                                    0
78244    viande d'oie, graisse de canard, épices, sel, ...
78245                                                    0
Name: ingredients_text, Length: 78246, dtype: object

In [25]:
###don't think all the data is needed, so reducing some
reduceData = pd.DataFrame()
#reduceData['creator'] =data['creator']
reduceData[['product_name','code','creator', 'brands']] = data[['product_name','code','creator', 'brands']]
reduceData
#+ data['product_name'] + data['code'] + data['brands'] + data['cities'] + data['countries'] + data['origins']

,product_name,code,creator,brands
0,Filet de bœuf,0000000024600,date-limite-app,0
1,0,0000000027205,tacinte,0
2,Lion Peanut x2,0000000036252,tacinte,0
3,Twix x2,0000000039259,tacinte,0
4,Pack de 2 Twix,0000000039529,teolemon,Twix
...,...,...,...,...
78241,Szprot w oleju roslinnym,9908278636246,andre,EvraFish
78242,Thé vert Earl grey,99111250,balooval,Lobodis
78243,"Cheese cake thé vert, yuzu",9918,woshilapin,0
78244,Rillette d'oie,9935010000003,sebleouf,"Sans marque,D.Lambert"
78245,乐吧泡菜味薯片,9970229501521,tomato,乐吧

<br>

<font size="5"> **1. Data Exploration and Analysis**</font>

<br>

In [7]:
##displaying the dataset
data.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,caffeine_100g,taurine_100g,ph_100g,fruits-vegetables-nuts_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g
0,0000000024600,http://world-en.openfoodfacts.org/product/0000...,date-limite-app,1434530704,2015-06-17T08:45:04Z,1434535914,2015-06-17T10:11:54Z,Filet de bœuf,NaN,2.46 kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000027205,http://world-en.openfoodfacts.org/product/0000...,tacinte,1458238630,2016-03-17T18:17:10Z,1458238638,2016-03-17T18:17:18Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000000036252,http://world-en.openfoodfacts.org/product/0000...,tacinte,1422221701,2015-01-25T21:35:01Z,1422221855,2015-01-25T21:37:35Z,Lion Peanut x2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000000039259,http://world-en.openfoodfacts.org/product/0000...,tacinte,1422221773,2015-01-25T21:36:13Z,1422221926,2015-01-25T21:38:46Z,Twix x2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000000039529,http://world-en.openfoodfacts.org/product/0000...,teolemon,1420147051,2015-01-01T21:17:31Z,1439141740,2015-08-09T17:35:40Z,Pack de 2 Twix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78246 entries, 0 to 78245
Columns: 159 entries, code to nutrition-score-uk_100g
dtypes: object(159)
memory usage: 94.9+ MB

In [9]:
# describing columns
##it only did rating and timestamp because they were the only integer column in the dataset
data.describe()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,caffeine_100g,taurine_100g,ph_100g,fruits-vegetables-nuts_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g
count,78228,78228,78177,78243,78239,78246,78246,70338,38117,65478,...,39,17,35,1210,123,610,0,194,36629,36629
unique,78228,78228,2323,77971,77972,76700,76700,58649,27038,9731,...,25,11,20,262,6,73,0,146,49,48
top,2165506002274,http://world-en.openfoodfacts.org/product/3033...,openfoodfacts-contributors,1415014731,2014-11-03T11:38:51Z,1439141756,2015-08-09T17:35:56Z,OBF,Pâtes alimentaires au blé dur de qualité supér...,500 g,...,0.032,0.035,7.2,50,15,30,NaN,0,0,0
freq,1,1,21453,6,6,52,52,53,206,2838,...,6,5,8,224,66,109,NaN,14,2081,2521

In [10]:
#Check that there aren't any missing values in the dataset and replace missing values with zeros
check=data.isnull().any().sum()

if check == 0:
    print('There are no missing values in the dataset')
else:
    data= data.replace(np.nan, 0)
    print('There were missing values in the dataset and they were replaced with zeros')

There were missing values in the dataset and they were replaced with zeros

<br>

<font size="5"> **2. Pre-process the data**</font>

<br>

<br>

<font size="5"> **3. Cluster Algorithms Section**</font>

<br>

<br>

<font size="5"> **4. Evaluation and Comparison of the performances of the model**</font>

<br>